<!DOCTYPE html>
<html>
  <head>
    <title>cluster2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active Workers</h3>
      </div>
      <div class="panel-body" id="workers-table">
        
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active Cache</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>value</th>
              <th>persisted</th>
              <th>expire</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>key1</td>
              <td>value1</td>
              <td>true</td>
              <td>null</td>
            </tr>
            <tr>
              <td>key2</td>
              <td>value2</td>
              <td>false</td>
              <td>60000ms</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>

      var socket = socket || io.connect('http://localhost');
      //data from master should be in a JSON format or HTML which allows us to replace the workers table completely
      socket.on('workers', function (data) {
        if(data.view === 'html'){
          $('#workers-table').html(data.html);
        }
      });
    </script>

  </body>
</html>