<!DOCTYPE html>
<html>
  <head>
    <title>cluster2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active Workers</h3>
      </div>
      <div class="panel-body" id="workers-table">
        
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active Cache</h3>
      </div>
      <div class="panel-body" id="caches-table">

      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>

      var socket = socket || io.connect('http://localhost');
      //data from master should be in a JSON format or HTML which allows us to replace the workers table completely
      socket.on('workers', function (data) {
        if(data.view === 'html'){
          $('#workers-table').html(data.html);
        }
      });

      socket.once('caches', function(data) {
        if(data.view === 'html'){
          $('#caches-table').html(data.html);
        }
      });
    </script>

  </body>
</html>